{% extends 'base.html' %}
{% load static %}



  

{% block body %}
  <!-- Main Başlangıç -->
  <main>
    <!-- Vitrin Başlangıç -->
    <div class="navrenk py-5 border-botton-dark">
      <div class="container">
        <div class="row">
          <div class="col-6 ">
            <h1 class="display-1 text-dark">
              Stay curious.
            </h1>
            <p class="h4 text-dark">
              Discover stories, thinking, and expertise from writers on any topic.
            </p>
            <a href="/register" class="btn btn-outline-dark">Get Started</a>
          </div>
          <div class="col-6">
            <div class="karbox" id="karbox">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Vitrin Bitiş -->


    <!-- Popüler Yazılar Başlangıç -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
          </svg>
          <h6 class="ml-2 fw-bold">Trending on Medium</h6>
        </div>
        {% for i in products %}
        <!-- Yazı 1 Başlangıç -->
        <article class="col-sm-4">
          <div class="row">
            <div class="col-1"><h6 class="text-black-50">0{{ i.id }}</h6></div>
            <div class="col-11">
              <img class="rounded-circle" src="{{ i.user_img.url }}" height="25px" width="25px" alt="">
              <span>{{ i.user }}</span>
              <h6 class="mt-2">
                <a href="/detail/{{ i.id }}/"><strong>{{ i.title }}</strong></a>
              </h6>
              <ul class="list-inline small">
                <li class="list-inline-item">{{ i.date_now }}</li>
                <li class="list-inline-item">{{ i.read_time }} min read</li>
              </ul>
              
            </div>
          </div>
        </article>
        <!-- Yazı 1 Bitiş -->
        {% endfor %}
      </div>
    </div>
    <hr>
    <!-- Popüler Yazılar Bitiş -->

    <!-- Tüm Yazılar Başlangıç -->
    <div class="mt-5" id="all">
      <div class="container">
        <div class="row">
          <!-- Kategori -->
          <div class="col-sm-4">
            <ul class="mt-1 ms-3 ">

              {% for i in butons %} 
              <button class="btn btn-secondary mt-2 ms-2">{{ i.title }}</button>
              {% endfor %}

            </ul>
          </div>
          <!-- Kategori Bitiş -->

          <div class="col-sm-8">
            <div class="row d-flex align-items-center">
              
              {% for i in articles %}
              <!-- 1.Forum Başlangıç col-8 -->
                <div class="col-8">
                  <article class="">
                    <div class="row">
                      <div>
                        <img class="rounded-circle" src="{{ i.user_img.url }}" height="25px" width="25px" alt="">
                        <span>{{ i.user }}</span>
                        <h4 class="mt-2"><a href="/detail/{{ i.id }}/"><strong>{{ i.title }}</strong></a></h4>
                        <p class="opacity-75"><a href="/detail/{{ i.id }}/"><strong>{{ i.subject }}</strong></a></p>
                        <ul class="list-inline small opacity-75">
                          <li class="list-inline-item">{{ i.date_now }}</li>
                          <li class="list-inline-item">{{ i.read_time }} min read</li>
                          <button class="btn btn-secondary rounded-pill">{{ i.category.title }}</button>
                        </ul>
                      </div>
                    </div>
                  </article>
                </div>
                <!-- 1.Form Bitiş col-8 -->
  
                <!-- Yazı Resimleri Başlangıç -->
                <div class="col-4">
                  <div class="img w-100">
                    <img width="202" height="133" src="{{ i.image.url }}" alt="">
                  </div>
                </div>
              <!-- Yazı Resimleri Bitiş -->
              {% endfor %}
                
              
            </div>
          </div>
          <!-- Tüm Yazılar Bitiş -->

          
        </div>
      </div>
    </div>
    


  </main>
  <!-- Main Bitiş -->
{% endblock body %}
  

