{% extends 'base.html' %}
{% load static %}


{% block body %}
<form action="">
    <div class="container mt-5">    
        <div class="row">
            <div class="col">
                <input class="form-control form-control-lg " id="wr" type="text" placeholder="Title" aria-label=".form-control-lg example">
                <input class="form-control mt-3" type="text" id="wr" placeholder="Subject or Description" aria-label="default input example">
                <div class="mb-3 ">
                    <label for="exampleFormControlTextarea1" class="form-label"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
                </div>
                <input class="form mt-1" id="wr" placeholder="Category" type="text">
                <input class="form ms-2" id="wr" placeholder="Read time" type="number">
                <div class="mb-3">
                    <label for="formFile" class="form-label"></label>
                    <input style="border-color: black;" class="form-control" type="file" id="formFile">
                </div>
                <button type="button" class="btn btn-success btn-rounded mb-4">Publish</button>
            </div>
        </div>
    </div>
    
</form>
{% endblock body %}
    




